@model coachingSystem.Models.inventory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_adminpanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.items_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.items_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.items_quanitity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.items_quanitity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.items_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.items_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.inventory_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
