@model coachingSystem.Models.fee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_adminpanel.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete fees</h4>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.admission_fee_rs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admission_fee_rs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_class.class_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_class.class_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_structure.fee_structure_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_structure.fee_structure_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_student.applicant_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_student.applicant_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_subject.sub_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_subject.sub_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
