@model coachingSystem.Models.fee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_adminpanel.cshtml";
}

<h2> Fee Details</h2>


<br />
<br />
<br />


<input id="printdiv" type="submit" class="btn btn-block btn-default" value="Print" onclick="printContent('AdmissionForm')" />
<div id="AdmissionForm" class="box">

    <table class="table table-responsive">

        <tr>
            <td>
                <img class="img-responsive" style="height:30%;margin-left: -27px; width: 100%;" src="~/images/" />
           </td>
        </tr>
        <tr>
            <td class="weight">

                Student Id:
                @Html.DisplayFor(model => model.st_fk_id)

            </td>
        </tr>
        
        <tr>
            <td class="weight">

                Name:
                @Html.DisplayFor(model => model.tbl_student.applicant_name)
            </td>
        </tr>      
        <tr>
            <td class="weight">
                    Date:
                    @System.DateTime.Now;
                    @*@Html.DisplayFor(model => model.tbl_registration.user_Re_name)*@
             </td>
        </tr>
         <tr>
            <td class="weight">

                Class:
                @Html.DisplayFor(model => model.tbl_class.class_name)

            </td>
        </tr>

        <tr>
            <td class="weight">

                Amount:
                @Html.DisplayFor(model => model.admission_fee_rs)

            </td>
        </tr>
      
        <tr>
            <td class="weight">

                Signature:____________
            </td>

        </tr>
    </table>

</div>
<br />
<br />


<script>

    function printContent(el) {
        debugger;
        var restorepage = document.body.innerHTML;
        var printcontent =  document.getElementById(el).innerHTML ;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
        var clicks = 0;
        clicks += 1;
        document.getElementById("clicks").innerHTML = clicks;
    }
</script>


<style>
    .box {
        width: 500px;
        // border: 1px solid black;
        position: relative;
    }

    .boxes {
        width: 400px;
        // border: 1px solid black;
        position: relative;
    }

    .box1 {
        width: 625px;
        border: 1px solid black;
    }

    .weight {
        font-weight: bold;
        font-size: 30px;
    }
</style>































