@model coachingSystem.Models.timetable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_adminpanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>timetable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dayss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dayss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_class.class_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_class.class_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_faculty_details.facullty_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_faculty_details.facullty_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_subject.sub_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_subject.sub_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.timetable_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
