@model coachingSystem.Models.tbl_student


@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Views/Shared/_adminpanel.cshtml";
}


<style>
    .form-control {
        margin-top: 1%;
    }
</style>
@using (Html.BeginForm("AddStudent", "StudentDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4 style="text-align:center;">Add Students </h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row col-lg-12">
            <div class="col-lg-6">
                @Html.EditorFor(model => model.applicant_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Student-Name" } })
                @Html.ValidationMessageFor(model => model.applicant_name, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-6">
                @Html.EditorFor(model => model.father_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Father-Name" } })
                @Html.ValidationMessageFor(model => model.father_name, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="row col-lg-12">
            <div class="col-lg-6">
                @Html.EditorFor(model => model.father_occupation, new { htmlAttributes = new { @class = "form-control", placeholder = "Father_Occupation" } })
                @Html.ValidationMessageFor(model => model.father_occupation, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-6">
                @Html.EditorFor(model => model.home_address, new { htmlAttributes = new { @class = "form-control", placeholder = "Home Address" } })
                @Html.ValidationMessageFor(model => model.home_address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row col-lg-12">

            <div class="col-lg-6">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-6">
                @Html.EditorFor(model => model.father_student_Cnic, new { htmlAttributes = new { @class = "form-control", placeholder = "Cnic" } })
                @Html.ValidationMessageFor(model => model.father_student_Cnic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row col-lg-12">

            <div class="col-lg-6">
                @Html.EditorFor(model => model.cell, new { htmlAttributes = new { @class = "form-control", placeholder = "Cell" } })
                @Html.ValidationMessageFor(model => model.cell, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-6">
                @Html.EditorFor(model => model.name_of_college, new { htmlAttributes = new { @class = "form-control", placeholder = "School/College" } })
                @Html.ValidationMessageFor(model => model.name_of_college, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class=" row col-lg-12">
            
            <div class="col-lg-6">
                <input type="file" id="imgfile" name="imgfile" class="btn btn-default btn-info" />
                @Html.ValidationMessageFor(model => model.stu_image, "", new { @class = "text-danger" })
            </div>
            
            <div class="col-lg-6">
                @Html.EditorFor(model => model.groupp, new { htmlAttributes = new { @class = "form-control", placeholder = "Group" } })
                @Html.ValidationMessageFor(model => model.groupp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row col-lg-12">
            <div class="col-lg-6">
                @Html.EditorFor(model => model.date_of_admission, new { htmlAttributes = new { @class = "form-control", placeholder = "Date Of Addmission" } })
                @Html.ValidationMessageFor(model => model.date_of_admission, "", new { @class = "text-danger" })
            </div>

            <div class="col-lg-6">
                @Html.EditorFor(model => model.date_of_payment, new { htmlAttributes = new { @class = "form-control", placeholder = "Date Of Payment" } })
                @Html.ValidationMessageFor(model => model.date_of_payment, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="row col-lg-12">
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.class_fk_id , ViewBag.listclass as SelectList , "----Select Class----" , new {@class = "form-control" })                      
            </div>
            <div class="col-lg-6">
                @Html.DropDownListFor(model => model.suubject_fk_id, ViewBag.listsubject as SelectList, "----Select Subject----", new { @class = "form-control" })
            </div>
           
        </div>

        <br />

        <div class="col-lg-12">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}


