@model IEnumerable<coachingSystem.Models.tbl_staff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminpanel.cshtml";
}

<h2 class="text-center">Staff Details</h2>

<table id="myTable" class="table table-responsive table-condensed">
    <thead>
        <tr>
            <th>
                Staff-Name
            </th>
            <th>
                Staff Contact
            </th>
            <th>
                Identity Number
            </th>
            <th>
                Address
            </th>
            <th>Action</th>
        </tr>
    </thead>

@foreach (var item in Model)
{
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.staff_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staff_contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staff_cnic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staff_address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.staff_id }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.staff_id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.staff_id })
            </td>
        </tr>
    </tbody>
}

</table>


<script>

         $(document).ready(function () {
             $("#myTable").DataTable()
         });

</script>